.container {
  min-width: 230px;
  padding: 24px;
  box-sizing: border-box;
  flex: 2;
  border-radius: 24px;
  background-color: #fff;
  color: var(--primary);
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.subtext {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

.summary {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
}

.currentTemp {
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
}

.icon {
  width: 100px;
  height: 100px;
  filter: brightness(.95);
}

.additional {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.additional__group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.additional__icon {
  width: 24px;
  height: 24px;
}

.additional__windDirection {
  width: 12px;
  height: 24px;
  transform-origin: center;
}
