@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/Inter/inter.css);

body {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECEEF2;
}

.page {
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  padding: 24px;
  width: 100%;
  max-width: 880px;
  min-width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 584px) {
  .content {
    padding: 12px;
    gap: 12px;
  }
}