@import '../../vars.css';

.header {
  margin: 0;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(74, 155, 248, 0.385);
  border-bottom: 1.5px solid rgba(8, 48, 94, 0.669);
}

.title {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  color: var(--primary);

}

.logo {
  width: 26px;
}
