.footer {
  background-color: rgba(74, 155, 248, 0.385);
  border-top: 2px solid var(--secondary);
}

.container {
  margin: 0 auto;
  padding: 10px 24px;
  box-sizing: border-box;
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

@media (max-width: 612px) {
  .container {
    padding: 12px;
    gap: 12px;
  }
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.logo {
  width: 150px;
  border-radius: 5px;
}
