@import url(../../vars.css);

.container {
  min-width: 283px;
  padding: 24px;
  box-sizing: border-box;
  flex: 1;
  border-radius: 24px;
  background-color: #fff;
}

.title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.subtext {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

.list {
  margin: 12px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.city_group {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  transition: all .2s;
}

.city_group:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.link {
  color: var(--primary);
  text-decoration: none;
}
